.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #3d3232ad;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-sizing: border-box; /* Ensure padding doesn't cause overflow */
}

.nav-title {
    text-align: center;
    flex: 1;
    position: relative;
    margin-left: 20em;
    width: 100%;
    pointer-events: none; /* Disable pointer events to avoid issues */
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left ul,
.nav-right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.nav-left li,
.nav-right li {
    margin: 0;
}

.nav-left a,
.nav-right a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

.nav-left a:hover,
.nav-right a:hover {
    text-decoration: underline;
}
