.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Adjust min width as needed */
    gap: 10rem;
    align-items: stretch;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.card-container {
    margin: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 30rem;
    width: 100%;
}

.card-grid> :nth-child(-n+3) {
    margin-top: 5em;
}


.card-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 1rem;
    height: 30rem;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    box-shadow: -13px 24px 15px -3px rgba(0, 0, 0, 0.329);
}



.card-description {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    backdrop-filter: blur(10px);
    opacity: 0;
    border-radius: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
    /* Include padding and border in element’s total width and height */
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-description .card-text {
    position: inherit;
    top: 3em;
    bottom: 10%;
    overflow-y: auto;
    right: 5em;
}

.card-description.show {
    opacity: 0.8;
    display: flex;
    /* Change display to flex when shown */
}

.card-title {
    font-size: 1.125rem;
    margin: 0 auto 0 auto;
    padding: 5px;
    width: 30%;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background-color: rgba(59, 56, 56, 0.918);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 5;
    opacity: 0;
    text-align: center;
}

.card-image.over .card-title {
    animation: myAnim-in 1.5s ease 0s 1 normal forwards;
}

.card-image.out .card-title {
    animation: myAnim-out 1.5s ease 0s 1 normal forwards;
}

.card-actions {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 5;
    background-color: transparent;
}

.update-button,
.delete-button,
.show-description-button {
    background-color: rgba(63, 60, 60, 0.842);
    padding: 0.3em;
    display: flex;
    align-content: center;
    color: white;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    border-radius: 80%;
    border-color: transparent;
    z-index: 10;
    font-size: 24px;
}

.client-url-button {
    background-color: rgba(63, 60, 60, 0.842);
    padding: 0.3em;
    display: flex;
    align-content: center;
    color: white;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    border-radius: 80%;
    border-color: transparent;
    z-index: 10;
    font-size: 20px;
}

.update-button:hover,
.delete-button:hover,
.show-description-button:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
    background-color: rgb(37, 36, 36);
}

@keyframes myAnim-in {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes myAnim-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}

.status-toggle-button {
    background-color: rgba(63, 60, 60, 0.842);
    padding: 0.3em;
    display: flex;
    align-content: center;
    color: white;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    border-radius: 80%;
    border-color: transparent;
    z-index: 10;
    font-size: 24px;
}

.status-toggle-button:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    background-color: rgb(37, 36, 36);
}